[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = {git = "https://github.com/phildini/django-allauth.git"}
requests = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
unipath = "*"
"psycopg2" = "*"
pip = "*"
patronage = {git = "https://github.com/phildini/django-patronage.git", editable = true}
channels = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
